# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# MAC OS
.DS_Store

# Jupyter Notebook
*/.ipynb_checkpoints
.ipynb_checkpoints/

# Colab
for_commit_from_colab_to_github.ipynb

# Package
*.class
*.jar
*.war
*.db
*.ear
*.exe
*.o

# VS Code
tasks.json
c_cpp_properties.json
launch.json
settings.json
.vscode
*.dsYM

# Code Runner
tempCodeRunnerFile.c